@import url(./fonts/PTSans.css);

.headerSite { 
    font-family: PTSans;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background-color: #1e252b;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.center{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.update {
    color: #ffffff;
    font-size: 0.876em;
    border-right: 1px solid #2c353c;
    padding: 1.67em 3em;
}

.update:before {
    content: "";
    padding: 0.5em;
    margin-right: 1.5em;
    background: url("./images/pause.png") no-repeat center center;
}

.update span:first-child:after{
    content:"|";
    color: #2fc6f4;
    margin: 0 0.4em;
}

.mainMenu {
    display: flex;
    list-style: none;
    margin:0; 
    padding: 0;
    /* text-align: center; */
/*     justify-content: center; */
}

.mainMenu > * {
    /* padding: 0.4em 1em; */
    color: #ffffff;
    font-size: 0.967em;
    border-left: 1px solid #2c353c;
    /* padding: 0; */
}

.mainMenu > *:last-child {
    border-right: 1px solid #2c353c;
}

.mainMenu a:after {
    content: "";
    vertical-align: middle;
    padding: 0.5em;
    margin-left: 0.5em;
    background: url("./images/arrow.png") no-repeat center center;
}

.mainMenu img {
    vertical-align: middle;
    margin-right: 0.7em;
}


.menuToggle {
    color: white;
    font-size: 2.1em;
    padding: 0.4em 0.5em;
}
.menuToggle { 
        padding: 0.5em 1em;
    background: url("./images/menu.png") no-repeat center center;
}

.logo {
    padding: 0.75em 0.7em 0em 0.7em;
}

[component="MainMenu"]{
    align-items: center;
        flex: 1 1 auto;
}

.mainMenu a {
    color: inherit;
    text-decoration: blink;
    text-transform: uppercase;
    padding: 1.55em 3em;
    display: block;
    line-height: 1;
}
.error {
    color: #ff0000;
    font-size: 1.375em;
    border-left: 1px solid #2c353c;
    padding: 0.75em;
    box-shadow: 0px -20px 44px -29px red inset;
}

.error:before {
    content: "";
    padding: 0.5em;
    margin-right: 0.5em;
    background: url("./images/ALERT.png") no-repeat center center;
}


.user {
    border-left: 1px solid #2c353c;
    padding: .75em 1.2em;
}

.mainMenu a:hover {
    box-shadow: 0 0 0 10em rgba(255, 255, 255, 0.25) inset;
}

.user img {
    width: 2.3em;
}
