

.backBtn {
  font-family: PTSans;
  background-color: #1e252b;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  height: 100%;

  span {
    color: white;
    margin-left: 11px;
  }

  a {
    margin-left: 10px;
    text-decoration: none;
  }
}