.header {
  height: 100%;
  display: block;
  align-items: center;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 0 2em;
  font-family: PTSans;
  font-size: 17px;
  color: white;
  line-height: calc(100vw / 29);
  vertical-align: middle;
}

.backBtn {
  display: inline-block;
  float: left;

  a {
    text-decoration: blink;
    color: white;

    &:before {
      font-size: 19px;
      content: '<';
      color: #2fc6f4;
      margin-right: .6em;
    }
  }
}

.export {
  display: inline-block;
  float: right;
  cursor: pointer;

    &:after {
      font-size: 19px;
      content: '>';
      transform: "rotate(90)";
      color: #2fc6f4;
      margin-left: .6em;
    }
}
