.content {
  margin: 1.5% 0 0 3%;
}

.header {
  text-shadow: 0 0 5px #2fc6f4;
  font-family: 'telegrafico';
  text-transform: uppercase;
  color: #2fc6f4;
  font-size: calc(100vw / 85);
}

.anomalies {
  font-family: 'PTSans';
  color: white;
  font-size: calc(100vw / 147);
  width: 47vw;
/*   height: 84vh; */
}

.table {
  border-spacing: 1px;
  width: 47vw;
/*width: 100%;
  overflow-x: scroll; */
  background-color: #404244;
  [type="search"]{
    display:block;
    width:100%;
    background-color:transparent;
    border:0;
    color: #6aa2f6;
  }

  tr {
    height: 2.1vw;
  }


  td {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
  }

  thead {
    background-color: #374758;
    tr:nth-child(2) {
      background-color: #28323A;
    }
    th {
      font-size: calc(100vw / 160);
      white-space: nowrap;
      padding: 0.6em;
      text-align: left;
    }
  }

  tbody {
    background-color: #1D2429;
  }
}

.hideInfo {
  display: none;
}

.openArrow {
  color: #2fc6f4;
  font-size: 1vw;
  transform: rotate(90deg);
}

.hideArrow {
  color: #2fc6f4;
  font-size: 1vw;
}

.detail {
  padding: 1em 4em !important;
  font-size: 1em;

  a {
    float: right;
    color: #2fc6f4;
    margin-top: 4em;
    margin-right: -3em;
  }

  .wrapper {
    height: 10vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    padding-bottom: 7px !important;

    hr {
      border-color: #535353;
      margin: 1em 0;
    }
  }
}

.msgTitle {
  color: #2fc6f4;
  width:100%;
  text-align: left;
  margin: 0 0 1em 1em;
}

.msgRow {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  padding-bottom: 13px;
  border-bottom-style: outset;

  .namespan {
    color: gray;
  }
}

.moreInfo{
  background: #15181b;
  height: 10vw;
}

.signalTitle {
  text-align: left;
  margin: 0.5em 0 1em 1em;

  span {
    color: #2fc6f4;
  }
}

.camZoom {
  float: left;
  background-color: #2b3641;
  width: 27%;
  div {
    padding: 0.5em 0;
    float: left;
  }
}

.prevIcon {
  width: 1em;
  height: 1em;
  padding: 0 1em;
  line-height: 1em;
  vertical-align: middle;
}

.signalIcon {
  width: 2em;
  height: 1em;
  padding: 0 .5em;
  line-height: 1em;
  vertical-align: middle;
}

.location {
  cursor: pointer;
  text-decoration: underline;
}

.pagination {
  height: 2.1vw;
  display: block;
  width: 100%;
  margin-top: calc(100vw / 48);
  text-align: center;
  line-height: 2.1vw;
  vertical-align: middle;

  .rightSide {
    display: inline-block;
    float: right;;
  }

  .leftSide {
    display: inline-block;
    float: left;
  }
}

.clear {
  margin-right: 1em;
  cursor: pointer;

  img {
    margin: 0 1em;
  }
}

.paginator {
  display: inline-block;
  line-height: 2em;
}

.page {
  border: 1px solid #374758;
  border-radius: 4px;
  width: 2.5em;
  display: inline-block;
  margin-right: .5em;
}

.pager {
  cursor: pointer;
  border-color: #374758;
  border-radius: 4px;
  background-color: #374758;
  width: 1.5em;
  display: inline-block;
  margin: 0 .4em;
}
