.anomaliesContent {
  margin-top: 5em;
}

.fleetActivity {
/*   width: 44%; */
  padding-bottom: 2%;
}

.backgroundGradient {
  background: -webkit-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: -o-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: -moz-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: linear-gradient(to bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
}

.anomalyBlock {
  display: block;
}

.anomalyInBlock {
  display: inline-block;
}

.filters {
/*   width: 44%; */
}

.lineBlock {
  display: block;
  width: 100%;
}

.component {
  width: 49.8%;
  height: 100%;
  border-right: 1px solid #535353;
}

.barsFilters {
  height: calc(100vw / 5.85);
}

.chartsFilters {
  height: calc(100vw/6.34);
  border-top: 1px solid #535353;
}

.category {
  height: calc(100vw/6.34);
}
