.anomaliesContent {
/*   margin-top: 4em; */
}

.fleetActivity {
/*   width: 44%; */
  padding-bottom: 2%;
}

.backgroundGradient {
  background: -webkit-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: -o-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: -moz-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: linear-gradient(to bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
}

.anomalyBlock {
  display: block;
}

.anomalyInBlock {
  display: inline-block;
}

.filters {
/*   width: 44%; */
}

.lineBlock {
  display: block;
  width: 100%;
}

.component {
  width: 49.8%;
  height: 100%;
  border-right: 1px solid #535353;
}

.barsFilters {
  height: calc(100vw / 5.85);
}

.chartsFilters {
  height: calc(100vw/6.34);
  border-top: 1px solid #535353;
}

.category {
  height: calc(100vw/6.34);
}

.anomaliesHeader {
  width: 100vw;
  display: block;
  height: calc(100vw / 29);
  font-size: calc(100vw / 85);
  font-family: 'PTSans';
  color: white;
  background-color: rgba(30, 37, 42, 0.5);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.arrow {
  color: #2fc6f4;
}

.backBtn {
  margin-left: calc(100vw / 80);
  height: 100%;
  line-height: calc(100vw / 29);
  vertical-align: middle;
}

.table {
  font-size: calc(100vw / 137);
}

.anomaliesList {
  background-color: #1e252a;
}
