body {
  background-color: lightblue;
}

.custom {
  background-color: pink;
}

@font-face {
    font-family: 'modeka';
    src: url("./fonts/Modeka.otf")  format("opentype");
}
@font-face {
    font-family: 'telegrafico';
    src: url("./fonts/telegrafico.ttf")  format("truetype");
}
@font-face {
    font-family: 'PTSans';
    src: url("./fonts/PT_Sans-Caption-Web-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    background-color: #0b0a0a;
}

:global(.block) {
    fill: url(#blockGradient);
}

:global(.gradientArc) {
    fill: url(#gradient);
}

:global(.carsStatus) {
/*     width: calc(100vw / 2.8); */
/*     width: 45%; */
    max-width: 34vw;
    margin:auto;
    height: calc(100vw / 5.7);
    font-family: 'PTSans';
/*     display: inline-block; */
}

:global(.anomaliesBlock) {
/*     width: calc(100vw / 2.2);  */
/*     width: 55%;  */
    max-width: 43vw;
    margin: auto;
    height: calc(100vw / 5.7);
    font-family: 'PTSans';
/*     display: inline-block; */
}

:global(.svgIcon) {
   font-family: FontAwesome;
}

:global(.redArc) {
    fill: url(#redGradient);
}

:global(.blueArc) {
    fill: url(#blueGradient);
}

:global(.registeredCars) {
    fill: url(#registeredGradient);
}

:global(.glowText) {
    text-shadow: 0 0 5px #2fc6f4;
    font-family: 'telegrafico';
    text-transform: uppercase;
    color: #2fc6f4;
    font-size: calc(100vw / 85);
    display: inline-block;
    margin: 5%;
}

:global(.fleetActivityBlock) {
/*   width: calc(100vw / 1.71); */
/*   width: 100%; */
/*   height: calc(100vw / 5.45); */
   > svg{   margin: auto;
    display: block;}
}





.layout,
.layout [class*="layoutCol"],
.layoutSideRight,
.layoutSideLeft {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1 1 auto;
/*    min-height: 14em;*/
    box-sizing: border-box;
    align-items: stretch;
    align-content: flex-start;
}



.layout{
  align-content: stretch;
  margin-top: 3.9em;
  min-height: calc(100vh - 3.9em);
}

.layoutCol,
.layoutSideRight,
.layoutSideLeft {
    border: solid #4a4a4a;
    border-width: 0 1px 1px 0;
}
.layoutSideRight.notActive {
  display: none !important;
}


.layout [class*="layoutCol"] > img {
  width:100%;
}


/* @keyframes flip {
  from {
        transform: rotateY(0deg);
  }

  to {
        transform: rotateY(360deg);
  }
} */
.layout [class*="layoutCol"] > *:not([class*="layoutCol"]) {
  width:100%;
}
.layoutCol100 {
    width: 100%;
}

.layoutCol80 {
    width: 80%;
}

.layoutCol70{
      width: 70%;
}
.layoutCol30{
      width: 30%;
}

.layoutCol75{
      width: 75%;
}
.layoutCol25{
      width: 25%;
}
.layoutCol50 {
    width: 50%;

}
.layoutCol55 {
    width: 55%;

}
.layoutCol60 {
    width: 60%;

}
.layoutCol40 {
    width: 40%;

}

.layoutCol45 {
    width: 45%;

}
.height20 {
  height: calc(100vw/30);
}
.height50 {
   height: calc(100vw/6.1);
}

.layoutCol20 {
    width: 20%;
}

.layoutSideLeft {
    order:1;
}

.layoutSideRight {
    order:2;
}

.borderRight{
      box-shadow: -31px 0px 0px -30px #3b3b3b;
}
.blue-shadow {
    box-shadow: 0px -33px 24px -24px #184451 inset;
    border-bottom-color: rgb(36, 135, 166);
}

.borderRightButtom {
  box-shadow: 20px 5px 1px -20px white,5px 20px 1px -20px white
}

.borderLeftTop {
  box-shadow: -20px -5px 1px -20px white,-5px -20px 1px -20px white
}
.notActive {
  display: none;
}
