.backgroundGradient {
  background: -webkit-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: -o-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: -moz-linear-gradient(bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
  background: linear-gradient(to bottom, #0b0a0a 92%, rgba(47, 198, 244, .25));
}

.fleetStatus {

}

.fleetActivitys {
    max-width: 51em;
}
.fleetStatus,
.fleetActivity  {
/*   width: 100%; */
/* ======= */
/*   width: calc(100vw / 1.69); */
  display: block;

/*   div {
    height: calc(100vw/6.1);
    display: inline-block;
    width: 50%;
  } */
}

.fleetInlineBlock {
  display: inline-block;
}

.fleetBlock {
  display: block;
}

/* .targetBlock {
  height: calc(100vw / 2.86);
  width: calc(100vw / 4.52);
  float: right;;
} */

/* .carsBlock {
  top: calc(100vw / 14.46);
  position: absolute;
  width: calc(100vw / 5.7);
}
 */


Categories {
/*   width: calc(100vw / 3.39); */
  height: calc(100vw / 6.1);
}
